@{
    ViewBag.Title = "Home Page";
}

<div class="modal fade" id="modalAddJogo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Novo Cliente:</h4>
            </div>
            <div class="modal-body">

                <form id="AddClientform" action="" method="POST">

                    <div class="form-group">
                        <label for="nameClient">Nome:</label>
                        <input type="text" id="nameClient" placeholder="Nome" class="form-control" required>
                    </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal" id="fecha">Fechar</button>
                <button type="button" class="btn btn-primary" id="btnSave">Salvar</button>
                <input type="hidden" id="hidden_Client_id">
            </div>
            </form>

        </div>
    </div>
</div>


