@{
    ViewBag.Title = "Home Page";
}

<form>
    <div class="form-group">
       <h2>Lançar pontos:</h2>
    </div>
    <div class="form-group">
        <label for="date-input" class="col-2 col-form-label">Data do Jogo:</label>
        <div class="col-10">
            <input class="form-control" type="date" value="" id="dataJogoInput">
        </div>
    </div>
    <div class="form-group">
        <label for="pontuacao-input">Quantos pontos você fez:</label>
        <input type="text" class="form-control" id="pontuacaoInput">
    </div>
    <button type="button" class="btn btn-primary" id="btnSalvarJogo">SALVAR</button>
</form>

